.webpage {
  display: flex;
  flex-direction: row;
  height: 95vh;
  width: 95vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-bar {
  display: flex;
  width: 20%;
  background-color: #f4f4f4;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-content{
  height: 95%;
  width: 100%;
}

.chat-input{
  width: 100%;
}